<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ERROR</title>
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            padding: 100px;
            max-width: 1200px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 th:text="${errMsg}">서버에 오류가 발생했습니다.</h1>
        <button onclick="history.back()" class="w-100 btn btn-secondary btn-lg" style="margin-top: 20px">이전 페이지로</button>
    </div>
</body>
</html>